/* Created by Artisteer v4.3.0.60745 */

#mb-main
{
    background: #033276 url('images/page.jpeg') top center no-repeat fixed;
    background: url('images/pageglare.png') no-repeat, url('images/page.jpeg') top center no-repeat, #033276;
    background-attachment: fixed, fixed, scroll !important;
    margin:0 auto;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor:default;
    overflow:hidden;
}
table, ul.mb-hmenu
{
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

/* Reset buttons border. It's important for input and button tags.
 * border-collapse should be separate for shadow in IE.
 */
.mb-button
{
    border: 0;
    border-collapse: separate;
    -webkit-border-radius: 0;
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
    background: #213554 url('images/button.png') scroll;
    border-width: 0;
    padding:0 4px;
    margin:0 auto;
    width:200px;
    height:32px;
}

.mb-postcontent,
.mb-postheadericons,
.mb-postfootericons,
.mb-blockcontent,
ul.mb-vmenu a
{
    text-align: left;
}

.mb-postcontent,
.mb-postcontent li,
.mb-postcontent table,
.mb-postcontent a,
.mb-postcontent a:link,
.mb-postcontent a:visited,
.mb-postcontent a.visited,
.mb-postcontent a:hover,
.mb-postcontent a.hovered
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.mb-postcontent p
{
    margin: 12px 0;
}

.mb-postcontent h1, .mb-postcontent h1 a, .mb-postcontent h1 a:link, .mb-postcontent h1 a:visited, .mb-postcontent h1 a:hover,
.mb-postcontent h2, .mb-postcontent h2 a, .mb-postcontent h2 a:link, .mb-postcontent h2 a:visited, .mb-postcontent h2 a:hover,
.mb-postcontent h3, .mb-postcontent h3 a, .mb-postcontent h3 a:link, .mb-postcontent h3 a:visited, .mb-postcontent h3 a:hover,
.mb-postcontent h4, .mb-postcontent h4 a, .mb-postcontent h4 a:link, .mb-postcontent h4 a:visited, .mb-postcontent h4 a:hover,
.mb-postcontent h5, .mb-postcontent h5 a, .mb-postcontent h5 a:link, .mb-postcontent h5 a:visited, .mb-postcontent h5 a:hover,
.mb-postcontent h6, .mb-postcontent h6 a, .mb-postcontent h6 a:link, .mb-postcontent h6 a:visited, .mb-postcontent h6 a:hover,
.mb-blockheader .t, .mb-blockheader .t a, .mb-blockheader .t a:link, .mb-blockheader .t a:visited, .mb-blockheader .t a:hover,
.mb-vmenublockheader .t, .mb-vmenublockheader .t a, .mb-vmenublockheader .t a:link, .mb-vmenublockheader .t a:visited, .mb-vmenublockheader .t a:hover,
.mb-headline, .mb-headline a, .mb-headline a:link, .mb-headline a:visited, .mb-headline a:hover,
.mb-slogan, .mb-slogan a, .mb-slogan a:link, .mb-slogan a:visited, .mb-slogan a:hover,
.mb-postheader, .mb-postheader a, .mb-postheader a:link, .mb-postheader a:visited, .mb-postheader a:hover
{
    font-size: 32px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.mb-postcontent a, .mb-postcontent a:link
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #802400;
}

.mb-postcontent a:visited, .mb-postcontent a.visited
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #4F4F4F;
}

.mb-postcontent  a:hover, .mb-postcontent a.hover
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: underline;
    color: #9E2D00;
}

.mb-postcontent h1
{
    color: #24395B;
    font-size: 32px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-blockcontent h1
{
    font-size: 32px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postcontent h1 a, .mb-postcontent h1 a:link, .mb-postcontent h1 a:hover, .mb-postcontent h1 a:visited, .mb-blockcontent h1 a, .mb-blockcontent h1 a:link, .mb-blockcontent h1 a:hover, .mb-blockcontent h1 a:visited
{
    font-size: 32px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postcontent h2
{
    color: #2D4771;
    margin-top: 19px;
    margin-bottom: 19px;
    font-size: 24px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-blockcontent h2
{
    margin-top: 19px;
    margin-bottom: 19px;
    font-size: 24px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postcontent h2 a, .mb-postcontent h2 a:link, .mb-postcontent h2 a:hover, .mb-postcontent h2 a:visited, .mb-blockcontent h2 a, .mb-blockcontent h2 a:link, .mb-blockcontent h2 a:hover, .mb-blockcontent h2 a:visited
{
    font-size: 24px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postcontent h3
{
    color: #9E2D00;
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-blockcontent h3
{
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postcontent h3 a, .mb-postcontent h3 a:link, .mb-postcontent h3 a:hover, .mb-postcontent h3 a:visited, .mb-blockcontent h3 a, .mb-blockcontent h3 a:link, .mb-blockcontent h3 a:hover, .mb-blockcontent h3 a:visited
{
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postcontent h4
{
    color: #F2F2F2;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-blockcontent h4
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postcontent h4 a, .mb-postcontent h4 a:link, .mb-postcontent h4 a:hover, .mb-postcontent h4 a:visited, .mb-blockcontent h4 a, .mb-blockcontent h4 a:link, .mb-blockcontent h4 a:hover, .mb-blockcontent h4 a:visited
{
    font-size: 16px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postcontent h5
{
    color: #F2F2F2;
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 13px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-blockcontent h5
{
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 13px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postcontent h5 a, .mb-postcontent h5 a:link, .mb-postcontent h5 a:hover, .mb-postcontent h5 a:visited, .mb-blockcontent h5 a, .mb-blockcontent h5 a:link, .mb-blockcontent h5 a:hover, .mb-blockcontent h5 a:visited
{
    font-size: 13px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postcontent h6
{
    color: #E8E8E8;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 11px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-blockcontent h6
{
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 11px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postcontent h6 a, .mb-postcontent h6 a:link, .mb-postcontent h6 a:hover, .mb-postcontent h6 a:visited, .mb-blockcontent h6 a, .mb-blockcontent h6 a:link, .mb-blockcontent h6 a:hover, .mb-blockcontent h6 a:visited
{
    font-size: 11px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

header, footer, article, nav, #mb-hmenu-bg, .mb-sheet, .mb-hmenu a, .mb-vmenu a, .mb-slidenavigator > a, .mb-checkbox:before, .mb-radiobutton:before
{
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
}

header, footer, article, nav, #mb-hmenu-bg, .mb-sheet, .mb-slidenavigator > a, .mb-checkbox:before, .mb-radiobutton:before
{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul
{
    list-style-type: none;
}

ol
{
    list-style-position: inside;
}

html, body
{
    height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html {
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */}

body
{
    padding: 0;
    margin:0;
    min-width: 894px;
    color: #1C1C1C;
}

.mb-header:before,
#mb-header-bg:before,
.mb-layout-cell:before,
.mb-layout-wrapper:before,
.mb-footer:before,
.mb-nav:before,
#mb-hmenu-bg:before,
.mb-sheet:before
{
    width: 100%;
    content: " ";
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

.mb-header:after,
#mb-header-bg:after,
.mb-layout-cell:after,
.mb-layout-wrapper:after,
.mb-footer:after,
.mb-nav:after,
#mb-hmenu-bg:after,
.mb-sheet:after,
.cleared, .clearfix:after
{
    clear: both;
    font: 0/0 serif;
    display: block;
    content: " ";
}

form
{
    padding: 0 !important;
    margin: 0 !important;
}

table.position
{
    position: relative;
    width: 100%;
    table-layout: fixed;
}

li h1, .mb-postcontent li h1, .mb-blockcontent li h1
{
    margin:1px;
}
li h2, .mb-postcontent li h2, .mb-blockcontent li h2
{
    margin:1px;
}
li h3, .mb-postcontent li h3, .mb-blockcontent li h3
{
    margin:1px;
}
li h4, .mb-postcontent li h4, .mb-blockcontent li h4
{
    margin:1px;
}
li h5, .mb-postcontent li h5, .mb-blockcontent li h5
{
    margin:1px;
}
li h6, .mb-postcontent li h6, .mb-blockcontent li h6
{
    margin:1px;
}
li p, .mb-postcontent li p, .mb-blockcontent li p
{
    margin:1px;
}


.mb-shapes
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.mb-slider-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.mb-slidenavigator > a {
    display: inline-block;
    vertical-align: middle;
    outline-style: none;
    font-size: 1px;
}

.mb-slidenavigator > a:last-child {
    margin-right: 0 !important;
}

.mb-headline
{
    display: inline-block;
    position: absolute;
    min-width: 50px;
    top: 15px;
    left: 70.37%;
    margin-left: -472px !important;
    line-height: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 101;
}

.mb-headline,
.mb-headline a,
.mb-headline a:link,
.mb-headline a:visited,
.mb-headline a:hover
{
    font-size: 55px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 0px 0px rgb(255, 197, 173), -1px 0px 0px rgb(255, 197, 173), 0px -1px 0px rgb(255, 197, 173), 0px 1px 0px rgb(255, 197, 173), 0px 0px 10px rgb(255, 197, 173);
    padding: 0;
    margin: 0;
    color: #FF530F !important;
    white-space: nowrap;
}
.mb-slogan
{
    display: inline-block;
    position: absolute;
    min-width: 50px;
    top: 73px;
    left: 98.74%;
    line-height: 100%;
    margin-left: -407px !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 102;
    white-space: nowrap;
}

.mb-slogan,
.mb-slogan a,
.mb-slogan a:link,
.mb-slogan a:visited,
.mb-slogan a:hover
{
    font-size: 22px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #263C5F !important;
}





.mb-footer .layout-item-0 { padding: 5px;  }
.ie7 .mb-post .mb-layout-cell {border:none !important; padding:0 !important; }
.ie6 .mb-post .mb-layout-cell {border:none !important; padding:0 !important; }

#mb-hmenu-bg
{
    position: absolute;
    overflow: hidden;
    left: 0;
    margin: 0 auto;
    width: 100%;
    z-index: auto;
    border-radius: 0;
}

.mb-sheet
{
    background: #FFFFFF;
    background: rgba(255, 255, 255, 0.7);
    border:3px solid rgba(255, 255, 255, 0.5);
    border-top:none;
    border-bottom:none;
    margin:0 auto;
    position:relative;
    cursor:auto;
    width: 894px;
    z-index: auto !important;
}

.mb-header
{
    margin:0 auto;
    background-repeat: no-repeat;
    height: 150px;
    background-image: url('images/object46374550.png'), url('images/header.png');
    background-position: 28px -1px, 0 0;
    position: relative;
    z-index: auto !important;
}

.custom-responsive .mb-header
{
    background-image: url('images/object46374550.png'), url('images/header.png');
    background-position: 28px -1px, 0 0;
}

.default-responsive .mb-header,
.default-responsive #mb-header-bg
{
    background-image: url('images/header.png');
    background-position: center center;
    background-size: auto;
}

.mb-header>.widget
{
    position:absolute;
    z-index:101;
}

.mb-nav
{
    background: #213554 url('images/nav.png') scroll;
    background: -webkit-linear-gradient(top, rgba(51, 80, 128, 0.07) 0, rgba(16, 25, 40, 0.04) 100%) no-repeat, url('images/nav.png'), -webkit-linear-gradient(top, #2D4771 0, #162237 100%) no-repeat;
    background: -moz-linear-gradient(top, rgba(51, 80, 128, 0.07) 0, rgba(16, 25, 40, 0.04) 100%) no-repeat, url('images/nav.png'), -moz-linear-gradient(top, #2D4771 0, #162237 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(51, 80, 128, 0.07) 0, rgba(16, 25, 40, 0.04) 100%) no-repeat, url('images/nav.png'), -o-linear-gradient(top, #2D4771 0, #162237 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(51, 80, 128, 0.07) 0, rgba(16, 25, 40, 0.04) 100%) no-repeat, url('images/nav.png'), -ms-linear-gradient(top, #2D4771 0, #162237 100%) no-repeat;
    -svg-background: linear-gradient(top, rgba(51, 80, 128, 0.07) 0, rgba(16, 25, 40, 0.04) 100%) no-repeat, url('images/nav.png'), linear-gradient(top, #2D4771 0, #162237 100%) no-repeat;
    background: linear-gradient(to bottom, rgba(51, 80, 128, 0.07) 0, rgba(16, 25, 40, 0.04) 100%) no-repeat, url('images/nav.png'), linear-gradient(to bottom, #2D4771 0, #162237 100%) no-repeat;
    padding:6px;
    position: absolute;
    margin: 0;
    bottom:     0;
    width: 100%;
    z-index: 100;
}

ul.mb-hmenu a, ul.mb-hmenu a:link, ul.mb-hmenu a:visited, ul.mb-hmenu a:hover
{
    outline: none;
    position: relative;
    z-index: 11;
}

ul.mb-hmenu, ul.mb-hmenu ul
{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

ul.mb-hmenu li
{
    position: relative;
    z-index: 5;
    display: block;
    float: left;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

ul.mb-hmenu li:hover
{
    z-index: 10000;
    white-space: normal;
}

ul.mb-hmenu:after, ul.mb-hmenu ul:after
{
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

ul.mb-hmenu, ul.mb-hmenu ul
{
    min-height: 0;
}

ul.mb-hmenu
{
    display: inline-block;
    vertical-align: middle;
    padding-left: 6px;
    padding-right: 6px;
}

.mb-nav-inner:before
{
    content:' ';
}

nav.mb-nav
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mb-nav-inner{
    text-align: left;
    margin:0 auto;
}

.desktop .mb-nav
{
    padding-left: 0;
    padding-right: 0;
}

.mb-hmenu-extra1
{
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
    background-position: center;
}

.mb-hmenu-extra2
{
    position: relative;
    display: block;
    float: right;
    width: auto;
    height: auto;
    background-position: center;
}

.mb-hmenu
{
    float: left;
}

.mb-menuitemcontainer
{
    margin:0 auto;
}
ul.mb-hmenu>li {
    margin-left: 9px;
}
ul.mb-hmenu>li:first-child {
    margin-left: 4px;
}
ul.mb-hmenu>li:last-child, ul.mb-hmenu>li.last-child {
    margin-right: 4px;
}

ul.mb-hmenu>li>a
{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid transparent;
    padding:0 17px;
    margin:0 auto;
    position: relative;
    display: block;
    height: 28px;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 28px;
    text-align: center;
}

.mb-hmenu>li>a,
.mb-hmenu>li>a:link,
.mb-hmenu>li>a:visited,
.mb-hmenu>li>a.active,
.mb-hmenu>li>a:hover
{
    font-size: 16px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: left;
}

ul.mb-hmenu>li>a.active
{
    background: #FF530F;
    background: -webkit-linear-gradient(top, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    background: -moz-linear-gradient(top, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    background: -o-linear-gradient(top, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    background: -ms-linear-gradient(top, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    -svg-background: linear-gradient(top, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    background: linear-gradient(to bottom, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #E54100;
    padding:0 17px;
    margin:0 auto;
    color: #000000;
    text-decoration: none;
}

ul.mb-hmenu>li>a:visited,
ul.mb-hmenu>li>a:hover,
ul.mb-hmenu>li:hover>a {
    text-decoration: none;
}

ul.mb-hmenu>li>a:hover, .desktop ul.mb-hmenu>li:hover>a
{
    background: #FF530F;
    background: -webkit-linear-gradient(top, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    background: -moz-linear-gradient(top, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    background: -o-linear-gradient(top, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    background: -ms-linear-gradient(top, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    -svg-background: linear-gradient(top, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    background: linear-gradient(to bottom, #FF6D33 0, #FF4800 71%, #EB4200 100%) no-repeat;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #39598E;
    padding:0 17px;
    margin:0 auto;
}
ul.mb-hmenu>li>a:hover,
.desktop ul.mb-hmenu>li:hover>a {
    color: #FFFFFF;
    text-decoration: none;
}

ul.mb-hmenu>li:before
{
    position:absolute;
    display: block;
    content:' ';
    top:0;
    left:  -9px;
    width:9px;
    height: 28px;
    background: url('images/menuseparator.png') center center no-repeat;
}
ul.mb-hmenu>li:first-child:before{
    display:none;
}

ul.mb-hmenu li li a
{
    background: #5B81BE;
    background: transparent;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    padding:0 22px;
    margin:0 auto;
}
ul.mb-hmenu li li
{
    float: none;
    width: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

.desktop ul.mb-hmenu li li ul>li:first-child
{
    margin-top: 0;
}

ul.mb-hmenu li li ul>li:last-child
{
    margin-bottom: 0;
}

.mb-hmenu ul a
{
    display: block;
    white-space: nowrap;
    height: 24px;
    min-width: 7em;
    border: 0 solid transparent;
    text-align: left;
    line-height: 24px;
    color: #C8D5E9;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    margin:0;
}

.mb-hmenu ul a:link,
.mb-hmenu ul a:visited,
.mb-hmenu ul a.active,
.mb-hmenu ul a:hover
{
    text-align: left;
    line-height: 24px;
    color: #C8D5E9;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    margin:0;
}

ul.mb-hmenu ul li a:hover, .desktop ul.mb-hmenu ul li:hover>a
{
    background: #39598E;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin:0 auto;
}
.mb-hmenu ul a:hover
{
    color: #EBEBEB;
}

.desktop .mb-hmenu ul li:hover>a
{
    color: #EBEBEB;
}

ul.mb-hmenu ul:before
{
    background: #757575;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border:1px solid #949494;
    margin:0 auto;
    display: block;
    position: absolute;
    content: ' ';
    z-index: 1;
}
.desktop ul.mb-hmenu li:hover>ul {
    visibility: visible;
    top: 100%;
}
.desktop ul.mb-hmenu li li:hover>ul {
    top: 0;
    left: 100%;
}

ul.mb-hmenu ul
{
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background-image: url('images/spacer.gif');
}

.desktop ul.mb-hmenu>li>ul
{
    padding: 16px 36px 36px 36px;
    margin: -10px 0 0 -30px;
}

.desktop ul.mb-hmenu ul ul
{
    padding: 36px 36px 36px 18px;
    margin: -36px 0 0 -5px;
}

.desktop ul.mb-hmenu ul.mb-hmenu-left-to-right
{
    right: auto;
    left: 0;
    margin: -10px 0 0 -30px;
}

.desktop ul.mb-hmenu ul.mb-hmenu-right-to-left
{
    left: auto;
    right: 0;
    margin: -10px -30px 0 0;
}

.desktop ul.mb-hmenu li li:hover>ul.mb-hmenu-left-to-right {
    right: auto;
    left: 100%;
}
.desktop ul.mb-hmenu li li:hover>ul.mb-hmenu-right-to-left {
    left: auto;
    right: 100%;
}

.desktop ul.mb-hmenu ul ul.mb-hmenu-left-to-right
{
    right: auto;
    left: 0;
    padding: 36px 36px 36px 18px;
    margin: -36px 0 0 -5px;
}

.desktop ul.mb-hmenu ul ul.mb-hmenu-right-to-left
{
    left: auto;
    right: 0;
    padding: 36px 18px 36px 36px;
    margin: -36px -5px 0 0;
}

.desktop ul.mb-hmenu li ul>li:first-child {
    margin-top: 0;
}
.desktop ul.mb-hmenu li ul>li:last-child {
    margin-bottom: 0;
}

.desktop ul.mb-hmenu ul ul:before
{
    border-radius: 3px;
    top: 30px;
    bottom: 30px;
    right: 30px;
    left: 12px;
}

.desktop ul.mb-hmenu>li>ul:before
{
    top: 10px;
    right: 30px;
    bottom: 30px;
    left: 30px;
}

.desktop ul.mb-hmenu>li>ul.mb-hmenu-left-to-right:before {
    right: 30px;
    left: 30px;
}
.desktop ul.mb-hmenu>li>ul.mb-hmenu-right-to-left:before {
    right: 30px;
    left: 30px;
}
.desktop ul.mb-hmenu ul ul.mb-hmenu-left-to-right:before {
    right: 30px;
    left: 12px;
}
.desktop ul.mb-hmenu ul ul.mb-hmenu-right-to-left:before {
    right: 12px;
    left: 30px;
}

.mb-layout-wrapper
{
    position: relative;
    margin: 0 auto 0 auto;
    z-index: auto !important;
}

.mb-content-layout
{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.mb-content-layout-row
{
    display: table-row;
}

.mb-layout-cell
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
}

/* need only for content layout in post content */
.mb-postcontent .mb-content-layout
{
    border-collapse: collapse;
}

.mb-block
{
    background: #FFFFFF;
    background: rgba(255, 255, 255, 0.8);
    padding:7px;
    margin:5px;
}
div.mb-block img
{
    border: none;
    margin: 0;
}

.mb-blockheader
{
    padding:15px 10px;
    margin:0 auto;
}
.mb-blockheader .t,
.mb-blockheader .t a,
.mb-blockheader .t a:link,
.mb-blockheader .t a:visited,
.mb-blockheader .t a:hover
{
    color: #FF530F;
    font-size: 18px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
    margin: 0 10px;
}

.mb-blockheader .t:before
{
    content:url('images/blockheadericon.png');
    margin-right:6px;
    bottom: 2px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    font-size:0;
    line-height:0;
}
.opera .mb-blockheader .t:before
{
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mb-blockcontent
{
    padding:10px;
    margin:0 auto;
    color: #363636;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}
.mb-blockcontent table,
.mb-blockcontent li,
.mb-blockcontent a,
.mb-blockcontent a:link,
.mb-blockcontent a:visited,
.mb-blockcontent a:hover
{
    color: #363636;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.mb-blockcontent p
{
    margin: 6px 0;
}

.mb-blockcontent a, .mb-blockcontent a:link
{
    color: #436AA8;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
}

.mb-blockcontent a:visited, .mb-blockcontent a.visited
{
    color: #436AA8;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
}

.mb-blockcontent a:hover, .mb-blockcontent a.hover
{
    color: #EB4200;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: underline;
}
.mb-block ul>li:before
{
    content:url('images/blockbullets.png');
    margin-right:6px;
    bottom: 2px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    font-size:0;
    line-height:0;
    margin-left: -19px;
}
.opera .mb-block ul>li:before
{
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mb-block li
{
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    line-height: 125%;
    color: #002669;
}

.mb-block ul>li, .mb-block ol
{
    padding: 0;
}

.mb-block ul>li
{
    padding-left: 19px;
}

.mb-breadcrumbs
{
    margin:0 auto;
}

a.mb-button,
a.mb-button:link,
a:link.mb-button:link,
body a.mb-button:link,
a.mb-button:visited,
body a.mb-button:visited,
input.mb-button,
button.mb-button
{
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    position:relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #FFFFFF;
    margin: 0 5px 0 0 !important;
    overflow: visible;
    cursor: pointer;
    text-indent: 0;
    line-height: 32px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.mb-button img
{
    margin: 0;
    vertical-align: middle;
}

.firefox2 .mb-button
{
    display: block;
    float: left;
}

input, select, textarea, a.mb-search-button span
{
    vertical-align: middle;
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
}

.mb-block select
{
    width:96%;
}

input.mb-button
{
    float: none !important;
    -webkit-appearance: none;
}

.mb-button.active, .mb-button.active:hover
{
    background: #525A66 url('images/activebutton.png') scroll;
    border-width: 0;
    padding:0 4px;
    margin:0 auto;
    width:200px;
}
.mb-button.active, .mb-button.active:hover {
    color: #D7E0EF !important;
}

.mb-button.hover, .mb-button:hover
{
    background: #FF530F url('images/hoveredbutton.png') scroll;
    border-width: 0;
    padding:0 4px;
    margin:0 auto;
    width:200px;
}
.mb-button.hover, .mb-button:hover {
    color: #002669 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
    background: #F9FAFB;
    border:1px solid rgba(255, 98, 36, 0.2);
    margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
    width: auto;
    padding: 8px 0;
    color: #7A2300 !important;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
}
input.mb-error, textarea.mb-error
{
    background: #F9FAFB;
    border:1px solid #E2341D;
    margin:0 auto;
}
input.mb-error, textarea.mb-error {
    color: #7A2300 !important;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}
form.mb-search input[type="text"]
{
    background: #F9FAFB;
    border-radius: 0;
    border:1px solid #CCD6E0;
    margin:0 auto;
    width: 100%;
    padding: 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #7A2300 !important;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}
form.mb-search
{
    background-image: none;
    border: 0;
    display:block;
    position:relative;
    top:0;
    padding:0;
    margin:5px;
    left:0;
    line-height: 0;
}

form.mb-search input, a.mb-search-button
{
    -webkit-appearance: none;
    top:0;
    right:0;
}

form.mb-search>input, a.mb-search-button{
    bottom:0;
    left:0;
    vertical-align: middle;
}

form.mb-search input[type="submit"], input.mb-search-button, a.mb-search-button
{
    background: #B0B0B0;
    border-radius: 0;
    margin:0 auto;
}
form.mb-search input[type="submit"], input.mb-search-button, a.mb-search-button {
    position:absolute;
    left:auto;
    display:block;
    border: 0;
    top: 1px;
    bottom: 1px;
    right: 	1px;
    padding:0 6px;
    color: #474747 !important;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
}

a.mb-search-button span.mb-search-button-text, a.mb-search-button:after {
    vertical-align:middle;
}

a.mb-search-button:after {
    display:inline-block;
    content:' ';
    height: 100%;
}

a.mb-search-button, a.mb-search-button span,
a.mb-search-button:visited, a.mb-search-button.visited,
a.mb-search-button:hover, a.mb-search-button.hover
{
    text-decoration: none;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

a.mb-search-button
{
    line-height: 100% !important;
}

label.mb-checkbox:before
{
    background: #F9FAFB;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    border-width: 0;
    margin:0 auto;
    width:16px;
    height:16px;
}
label.mb-checkbox
{
    cursor: pointer;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
    display: inline-block;
    color: #381000 !important;
}

.mb-checkbox>input[type="checkbox"]
{
    margin: 0 5px 0 0;
}

label.mb-checkbox.active:before
{
    background: #5B81BE;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    border-width: 0;
    margin:0 auto;
    width:16px;
    height:16px;
    display: inline-block;
}

label.mb-checkbox.hovered:before
{
    background: #83A0CE;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    border-width: 0;
    margin:0 auto;
    width:16px;
    height:16px;
    display: inline-block;
}

label.mb-radiobutton:before
{
    background: #F9FAFB;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-width: 0;
    margin:0 auto;
    width:12px;
    height:12px;
}
label.mb-radiobutton
{
    cursor: pointer;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 12px;
    display: inline-block;
    color: #381000 !important;
}

.mb-radiobutton>input[type="radio"]
{
    vertical-align: baseline;
    margin: 0 5px 0 0;
}

label.mb-radiobutton.active:before
{
    background: #5B81BE;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-width: 0;
    margin:0 auto;
    width:12px;
    height:12px;
    display: inline-block;
}

label.mb-radiobutton.hovered:before
{
    background: #83A0CE;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-width: 0;
    margin:0 auto;
    width:12px;
    height:12px;
    display: inline-block;
}

.mb-comments
{
    border-top:1px dotted #446CAB;
    margin:0 auto;
    margin-top: 25px;
}

.mb-comments h2
{
    color: #0A101A;
}

.mb-comment-inner
{
    background: #E2E8EE;
    background: transparent;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    padding:5px;
    margin:0 auto;
    margin-left: 94px;
}
.mb-comment-avatar
{
    float:left;
    width:80px;
    height:80px;
    padding:1px;
    background:#fff;
    border:1px solid #E2E8EE;
}

.mb-comment-avatar>img
{
    margin:0 !important;
    border:none !important;
}

.mb-comment-content
{
    padding:10px 0;
    color: #1C1C1C;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.mb-comment
{
    margin-top: 6px;
}

.mb-comment:first-child
{
    margin-top: 0;
}

.mb-comment-header
{
    color: #0A101A;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    line-height: 100%;
}

.mb-comment-header a,
.mb-comment-header a:link,
.mb-comment-header a:visited,
.mb-comment-header a.visited,
.mb-comment-header a:hover,
.mb-comment-header a.hovered
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    line-height: 100%;
}

.mb-comment-header a, .mb-comment-header a:link
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    color: #FFFFFF;
}

.mb-comment-header a:visited, .mb-comment-header a.visited
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    color: #FFFFFF;
}

.mb-comment-header a:hover,  .mb-comment-header a.hovered
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    color: #FFFFFF;
}

.mb-comment-content a,
.mb-comment-content a:link,
.mb-comment-content a:visited,
.mb-comment-content a.visited,
.mb-comment-content a:hover,
.mb-comment-content a.hovered
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.mb-comment-content a, .mb-comment-content a:link
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    color: #FFEDE5;
}

.mb-comment-content a:visited, .mb-comment-content a.visited
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    color: #242424;
}

.mb-comment-content a:hover,  .mb-comment-content a.hovered
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    color: #FFEDE5;
}

.mb-pager
{
    background: #EFF2F5;
    background: -webkit-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
    background: -moz-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
    background: -o-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
    background: -ms-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
    -svg-background: linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
    background: linear-gradient(to bottom, #FFFFFF 0, #93A8BE 100%) no-repeat;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #446CAB;
    padding:5px;
}

.mb-pager>*:last-child
{
    margin-right:0 !important;
}

.mb-pager>span {
    cursor:default;
}

.mb-pager>*
{
    background: #83A0CE;
    background: -webkit-linear-gradient(top, #BACAE3 0, #4973B6 100%) no-repeat;
    background: -moz-linear-gradient(top, #BACAE3 0, #4973B6 100%) no-repeat;
    background: -o-linear-gradient(top, #BACAE3 0, #4973B6 100%) no-repeat;
    background: -ms-linear-gradient(top, #BACAE3 0, #4973B6 100%) no-repeat;
    -svg-background: linear-gradient(top, #BACAE3 0, #4973B6 100%) no-repeat;
    background: linear-gradient(to bottom, #BACAE3 0, #4973B6 100%) no-repeat;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #83A0CE;
    padding:7px;
    margin:0 4px 0 auto;
    line-height: normal;
    position:relative;
    display:inline-block;
    margin-left: 0;
}

.mb-pager a:link,
.mb-pager a:visited,
.mb-pager .active
{
    line-height: normal;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #0A101A
;
}

.mb-pager .active
{
    background: #B6BFC9;
    background: -webkit-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
    background: -moz-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
    background: -o-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
    background: -ms-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
    -svg-background: linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
    background: linear-gradient(to bottom, #E5E8EB 0, #8796A6 100%) no-repeat;
    border:1px solid #83A0CE;
    padding:7px;
    margin:0 4px 0 auto;
    color: #FFFFFF
;
}

.mb-pager .more
{
    background: #83A0CE;
    background: -webkit-linear-gradient(top, #BACAE3 0, #4973B6 100%) no-repeat;
    background: -moz-linear-gradient(top, #BACAE3 0, #4973B6 100%) no-repeat;
    background: -o-linear-gradient(top, #BACAE3 0, #4973B6 100%) no-repeat;
    background: -ms-linear-gradient(top, #BACAE3 0, #4973B6 100%) no-repeat;
    -svg-background: linear-gradient(top, #BACAE3 0, #4973B6 100%) no-repeat;
    background: linear-gradient(to bottom, #BACAE3 0, #4973B6 100%) no-repeat;
    border:1px solid #83A0CE;
    margin:0 4px 0 auto;
}
.mb-pager a.more:link,
.mb-pager a.more:visited
{
    color: #240A00
;
}
.mb-pager a:hover
{
    background: #5B81BE;
    background: -webkit-linear-gradient(top, #92ABD3 0, #4973B6 67%, #3A5C92 100%) no-repeat;
    background: -moz-linear-gradient(top, #92ABD3 0, #4973B6 67%, #3A5C92 100%) no-repeat;
    background: -o-linear-gradient(top, #92ABD3 0, #4973B6 67%, #3A5C92 100%) no-repeat;
    background: -ms-linear-gradient(top, #92ABD3 0, #4973B6 67%, #3A5C92 100%) no-repeat;
    -svg-background: linear-gradient(top, #92ABD3 0, #4973B6 67%, #3A5C92 100%) no-repeat;
    background: linear-gradient(to bottom, #92ABD3 0, #4973B6 67%, #3A5C92 100%) no-repeat;
    border:1px solid #83A0CE;
    padding:7px;
    margin:0 4px 0 auto;
}
.mb-pager  a:hover,
.mb-pager  a.more:hover
{
    color: #0F1724
;
}
.mb-pager>*:after
{
    margin:0 0 0 auto;
    display:inline-block;
    position:absolute;
    content: ' ';
    top:0;
    width:0;
    height:100%;
    right: 0;
    text-decoration:none;
}

.mb-pager>*:last-child:after{
    display:none;
}

.mb-commentsform
{
    background: #E2E8EE;
    background: transparent;
    padding:10px;
    margin:0 auto;
    margin-top:25px;
    color: #0A101A;
}

.mb-commentsform h2{
    padding-bottom:10px;
    margin: 0;
    color: #0A101A;
}

.mb-commentsform label {
    display: inline-block;
    line-height: 25px;
}

.mb-commentsform input:not([type=submit]), .mb-commentsform textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width:100%;
    max-width:100%;
}

.mb-commentsform .form-submit
{
    margin-top: 10px;
}
.mb-post
{
    padding:5px;
}
a img
{
    border: 0;
}

.mb-article img, img.mb-article, .mb-block img, .mb-footer img
{
    margin: 0 0 0 0;
}

.mb-metadata-icons img
{
    border: none;
    vertical-align: middle;
    margin: 2px;
}

.mb-article table, table.mb-article
{
    border-collapse: collapse;
    margin: 1px;
}

.mb-post .mb-content-layout-br
{
    height: 0;
}

.mb-article th, .mb-article td
{
    padding: 2px;
    border: solid 1px #9A9FA7;
    vertical-align: top;
    text-align: left;
}

.mb-article th
{
    text-align: center;
    vertical-align: middle;
    padding: 7px;
}

pre
{
    overflow: auto;
    padding: 0.1em;
}

.preview-cms-logo
{
    border: 0;
    margin: 1em 1em 0 0;
    float: left;
}

.image-caption-wrapper
{
    padding: 0 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper img
{
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper div.mb-collage
{
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper p
{
    font-size: 80%;
    text-align: right;
    margin: 0;
}

.mb-postmetadataheader
{
    background: #E2E8EE;
    background: rgba(226, 232, 238, 0.8);
    margin:0 auto;
    position:relative;
    z-index:1;
    padding: 1px;
    margin-bottom: 5px;
}

.mb-postheadericon:before
{
    content:url('images/postheadericon.png');
    margin-right:6px;
    bottom: 3px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    font-size:0;
    line-height:0;
}
.opera .mb-postheadericon:before
{
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mb-postheader
{
    color: #FF530F;
    margin: 10px 0 0 10px;
    font-size: 24px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postheader a,
.mb-postheader a:link,
.mb-postheader a:visited,
.mb-postheader a.visited,
.mb-postheader a:hover,
.mb-postheader a.hovered
{
    font-size: 24px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-postheader a, .mb-postheader a:link
{
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    text-align: left;
    color: #033276;
}

.mb-postheader a:visited, .mb-postheader a.visited
{
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    text-align: left;
    color: #5E5E5E;
}

.mb-postheader a:hover,  .mb-postheader a.hovered
{
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    text-align: left;
    color: #DB3E00;
}

.mb-postheadericons,
.mb-postheadericons a,
.mb-postheadericons a:link,
.mb-postheadericons a:visited,
.mb-postheadericons a:hover
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    color: #F2F2F2;
}

.mb-postheadericons
{
    padding: 1px;
}

.mb-postheadericons a, .mb-postheadericons a:link
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #661D00;
}

.mb-postheadericons a:visited, .mb-postheadericons a.visited
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
    color: #1D2E49;
}

.mb-postheadericons a:hover, .mb-postheadericons a.hover
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
    color: #852600;
}

.mb-postdateicon:before
{
    content:url('images/postdateicon.png');
    margin-right:6px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    font-size:0;
    line-height:0;
    bottom: auto;
}
.opera .mb-postdateicon:before
{
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mb-postauthoricon:before
{
    content:url('images/postauthoricon.png');
    margin-right:6px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    font-size:0;
    line-height:0;
    bottom: auto;
}
.opera .mb-postauthoricon:before
{
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mb-postpdficon:before
{
    content:url('images/postpdficon.png');
    margin-right:6px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    font-size:0;
    line-height:0;
    bottom: auto;
}
.opera .mb-postpdficon:before
{
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mb-postprinticon:before
{
    content:url('images/postprinticon.png');
    margin-right:6px;
    bottom: 2px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    font-size:0;
    line-height:0;
}
.opera .mb-postprinticon:before
{
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mb-postcontent ul>li:before,  .mb-post ul>li:before,  .mb-textblock ul>li:before
{
    content:url('images/postbullets.png');
    margin-right:6px;
    bottom: 2px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    font-size:0;
    line-height:0;
}
.opera .mb-postcontent ul>li:before, .opera   .mb-post ul>li:before, .opera   .mb-textblock ul>li:before
{
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mb-postcontent li, .mb-post li, .mb-textblock li
{
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    color: #04070B;
    margin: 0 0 0 26px;
}

.mb-postcontent ul>li, .mb-post ul>li, .mb-textblock ul>li, .mb-postcontent ol, .mb-post ol, .mb-textblock ol
{
    padding: 0;
}

.mb-postcontent ul>li, .mb-post ul>li, .mb-textblock ul>li
{
    padding-left: 10px;
}

.mb-postcontent ul>li:before,  .mb-post ul>li:before,  .mb-textblock ul>li:before
{
    margin-left: -10px;
}

.mb-postcontent ol, .mb-post ol, .mb-textblock ol, .mb-postcontent ul, .mb-post ul, .mb-textblock ul
{
    margin: 1em 0 1em 26px;
}

.mb-postcontent li ol, .mb-post li ol, .mb-textblock li ol, .mb-postcontent li ul, .mb-post li ul, .mb-textblock li ul
{
    margin: 0.5em 0 0.5em 26px;
}

.mb-postcontent li, .mb-post li, .mb-textblock li
{
    margin: 0 0 0 0;
}

.mb-postcontent ol>li, .mb-post ol>li, .mb-textblock ol>li
{
    /* overrides overflow for "ul li" and sets the default value */
    overflow: visible;
}

.mb-postcontent ul>li, .mb-post ul>li, .mb-textblock ul>li
{
    /* makes "ul li" not to align behind the image if they are in the same line */
    overflow-x: visible;
    overflow-y: hidden;
}

blockquote
{
    background: #446CAB url('images/postquote.png') no-repeat scroll;
    padding:15px 15px 15px 39px;
    margin:10px 10px 10px 50px;
    color: #080808;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    /* makes block not to align behind the image if they are in the same line */
    overflow: auto;
    clear:both;
}
blockquote a, .mb-postcontent blockquote a, .mb-blockcontent blockquote a, .mb-footer blockquote a,
blockquote a:link, .mb-postcontent blockquote a:link, .mb-blockcontent blockquote a:link, .mb-footer blockquote a:link,
blockquote a:visited, .mb-postcontent blockquote a:visited, .mb-blockcontent blockquote a:visited, .mb-footer blockquote a:visited,
blockquote a:hover, .mb-postcontent blockquote a:hover, .mb-blockcontent blockquote a:hover, .mb-footer blockquote a:hover
{
    color: #080808;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

/* Override native 'p' margins*/
blockquote p,
.mb-postcontent blockquote p,
.mb-blockcontent blockquote p,
.mb-footer blockquote p
{
    margin: 0;
    margin:3px;
}

.mb-footer
{
    background: #17253A;
    margin:0 auto;
    position: relative;
    color: #CFCFCF;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-align: left;
    padding: 0;
}

.mb-footer a,
.mb-footer a:link,
.mb-footer a:visited,
.mb-footer a:hover,
.mb-footer td,
.mb-footer th,
.mb-footer caption
{
    color: #CFCFCF;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.mb-footer p
{
    padding:0;
    text-align: left;
}

.mb-footer a,
.mb-footer a:link
{
    color: #7192C6;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
}

.mb-footer a:visited
{
    color: #7192C6;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
}

.mb-footer a:hover
{
    color: #FF7038;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
}

.mb-footer h1
{
    color: #39598E;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-footer h2
{
    color: #446CAB;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-footer h3
{
    color: #FF6224;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-footer h4
{
    color: #B0B0B0;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-footer h5
{
    color: #B0B0B0;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-footer h6
{
    color: #B0B0B0;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.mb-footer img
{
    border: none;
    margin: 5px;
}

.mb-footer-inner
{
    margin: 0 auto;
    width:894px;
    padding:8px;
    padding-right: 8px;
    padding-left: 8px;
}

.mb-rss-tag-icon
{
    background:  url('images/footerrssicon.png') no-repeat scroll;
    margin:0 auto;
    min-height:32px;
    min-width:32px;
    display: inline-block;
    text-indent: 35px;
    background-position: left center;
    vertical-align: middle;
}

.mb-rss-tag-icon:empty
{
    vertical-align: middle;
}

.mb-facebook-tag-icon
{
    background:  url('images/footerfacebookicon.png') no-repeat scroll;
    margin:0 auto;
    min-height:32px;
    min-width:32px;
    display: inline-block;
    text-indent: 35px;
    background-position: left center;
    vertical-align: middle;
}

.mb-facebook-tag-icon:empty
{
    vertical-align: middle;
}

.mb-twitter-tag-icon
{
    background:  url('images/footertwittericon.png') no-repeat scroll;
    margin:0 auto;
    min-height:32px;
    min-width:32px;
    display: inline-block;
    text-indent: 35px;
    background-position: left center;
    vertical-align: middle;
}

.mb-twitter-tag-icon:empty
{
    vertical-align: middle;
}

.mb-tumblr-tag-icon
{
    background:  url('images/tumblricon.png') no-repeat scroll;
    margin:0 auto;
    min-height:32px;
    min-width:32px;
    display: inline-block;
    text-indent: 35px;
    background-position: left center;
    vertical-align: middle;
}

.mb-tumblr-tag-icon:empty
{
    vertical-align: middle;
}

.mb-pinterest-tag-icon
{
    background:  url('images/pinteresticon.png') no-repeat scroll;
    margin:0 auto;
    min-height:32px;
    min-width:32px;
    display: inline-block;
    text-indent: 35px;
    background-position: left center;
    vertical-align: middle;
}

.mb-pinterest-tag-icon:empty
{
    vertical-align: middle;
}

.mb-vimeo-tag-icon
{
    background:  url('images/vimeoicon.png') no-repeat scroll;
    margin:0 auto;
    min-height:33px;
    min-width:32px;
    display: inline-block;
    text-indent: 35px;
    background-position: left center;
    vertical-align: middle;
}

.mb-vimeo-tag-icon:empty
{
    vertical-align: middle;
}

.mb-youtube-tag-icon
{
    background:  url('images/youtubeicon.png') no-repeat scroll;
    margin:0 auto;
    min-height:32px;
    min-width:32px;
    display: inline-block;
    text-indent: 35px;
    background-position: left center;
    vertical-align: middle;
}

.mb-youtube-tag-icon:empty
{
    vertical-align: middle;
}

.mb-linkedin-tag-icon
{
    background:  url('images/linkedinicon.png') no-repeat scroll;
    margin:0 auto;
    min-height:32px;
    min-width:32px;
    display: inline-block;
    text-indent: 35px;
    background-position: left center;
    vertical-align: middle;
}

.mb-linkedin-tag-icon:empty
{
    vertical-align: middle;
}

.mb-footer li
{
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    line-height: 125%;
    color: #FFCFBD;
}

.mb-page-footer,
.mb-page-footer a,
.mb-page-footer a:link,
.mb-page-footer a:visited,
.mb-page-footer a:hover
{
    font-family: Arial;
    font-size: 10px;
    letter-spacing: normal;
    word-spacing: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    color: #A7BCDC;
}

.mb-page-footer
{
    position: relative;
    z-index: auto !important;
    padding: 1em;
    text-align: center !important;
    text-decoration: none;
    color: #C2C2C2;
}

.mb-lightbox-wrapper
{
    background: #333;
    background: rgba(0, 0, 0, .8);
    bottom: 0;
    left: 0;
    padding: 0 100px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1000000;
}

.mb-lightbox,
.mb-lightbox-wrapper .mb-lightbox-image
{
    cursor: pointer;
}

.mb-lightbox-wrapper .mb-lightbox-image
{
    border: 6px solid #fff;
    border-radius: 3px;
    display: none;
    max-width: 100%;
    vertical-align: middle;
}

.mb-lightbox-wrapper .mb-lightbox-image.active
{
    display: inline-block;
}

.mb-lightbox-wrapper .lightbox-error
{
    background: #fff;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    box-shadow: 0 2px 5px #333;
    height: 80px;
    opacity: .95;
    padding: 20px;
    position: fixed;
    width: 300px;
    z-index: 100;
}

.mb-lightbox-wrapper .loading
{
    background: #fff url('images/preloader-01.gif') center center no-repeat;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    box-shadow: 0 2px 5px #333;
    height: 32px;
    opacity: .5;
    padding: 10px;
    position: fixed;
    width: 32px;
    z-index: 10100;
}

.mb-lightbox-wrapper .arrow
{
    cursor: pointer;
    height: 100px;
    opacity: .5;
    filter: alpha(opacity=50);
    position: fixed;
    width: 82px;
    z-index: 10003;
}

.mb-lightbox-wrapper .arrow.left
{
    left: 9px;
}

.mb-lightbox-wrapper .arrow.right
{
    right: 9px;
}

.mb-lightbox-wrapper .arrow:hover
{
    opacity: 1;
    filter: alpha(opacity=100);
}

.mb-lightbox-wrapper .arrow.disabled
{
    display: none;
}

.mb-lightbox-wrapper .arrow-t,
.mb-lightbox-wrapper .arrow-b
{
    background-color: #fff;
    border-radius: 3px;
    height: 6px;
    left: 26px;
    position: relative;
    width: 30px;
}

.mb-lightbox-wrapper .arrow-t
{
    top: 38px;
}

.mb-lightbox-wrapper .arrow-b
{
    top: 50px;
}

.mb-lightbox-wrapper .close
{
    cursor: pointer;
    height: 22px;
    opacity: .5;
    filter: alpha(opacity=50);
    position: fixed;
    right: 39px;
    top: 30px;
    width: 22px;
    z-index: 10003;
}

.mb-lightbox-wrapper .close:hover
{
    opacity: 1;
    filter: alpha(opacity=100);
}

.mb-lightbox-wrapper .close .cw,
.mb-lightbox-wrapper .close .ccw
{
    background-color: #fff;
    border-radius: 3px;
    height: 6px;
    position: absolute;
    left: -4px;
    top: 8px;
    width: 30px;
}

.mb-lightbox-wrapper .cw
{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
    -moz-transform: rotate(45deg);
    /* Firefox */}

.mb-lightbox-wrapper .ccw
{
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Safari and Chrome */
    -o-transform: rotate(-45deg);
    /* Opera */
    -moz-transform: rotate(-45deg);
    /* Firefox */}

.mb-lightbox-wrapper .close-alt,
.mb-lightbox-wrapper .arrow-right-alt,
.mb-lightbox-wrapper .arrow-left-alt
{
    color: #fff;
    display: none;
    font-size: 2.5em;
    line-height: 100%;
}

.ie8 .mb-lightbox-wrapper .close-alt,
.ie8 .mb-lightbox-wrapper .arrow-right-alt,
.ie8 .mb-lightbox-wrapper .arrow-left-alt
{
    display: block;
}

.ie8 .mb-lightbox-wrapper .cw,
.ie8 .mb-lightbox-wrapper .ccw
{
    display: none;
}

.mb-content-layout .mb-content
{
    margin:0 auto;
}

/* Begin Additional CSS Styles */
.mb-blockheader .t, .mb-vmenublockheader .t {white-space: nowrap;}
/* End Additional CSS Styles */
