/* Created by Artisteer v4.3.0.60745 */

.responsive body
{
    min-width: 240px;
}

.responsive img
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.responsive .mb-content-layout img,
.responsive .mb-content-layout video
{
    max-width: 100%;
    height: auto !important;
}

.responsive.responsive-phone .mb-content-layout img
{
    margin: 1%;
}

.responsive.responsive-phone .mb-collage,
.responsive.responsive-tablet .mb-collage {
    margin: 0 !important;
}

.responsive .mb-content-layout .mb-sidebar0,
.responsive .mb-content-layout .mb-sidebar1,
.responsive .mb-content-layout .mb-sidebar2
{
    width: auto !important;
}

.responsive .mb-content-layout,
.responsive .mb-content-layout-row,
.responsive .mb-layout-cell
{
    display: block;
}

.responsive .mb-content-layout,
.responsive .mb-content-layout-row
{
    padding: 0;
}

.responsive .image-caption-wrapper
{
    width: auto;
}

.responsive.responsive-tablet .mb-vmenublock,
.responsive.responsive-tablet .mb-block
{
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.responsive .mb-responsive-embed
{
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 */
    position: relative;
}

.responsive .mb-responsive-embed iframe,
.responsive .mb-responsive-embed object,
.responsive .mb-responsive-embed embed
{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.responsive .mb-sheet
{
    width: auto !important;
    min-width: 240px !important;
    max-width: none !important;
    margin-right: 1% !important;
    margin-left: 1% !important;
}

#mb-resp {
    display: none;
}

@media all and (max-width: 893px)
{
    #mb-resp, #mb-resp-t { display: block; }
    #mb-resp-m { display: none; }
}

@media all and (max-width: 480px)
{
    #mb-resp, #mb-resp-m { display: block; }
    #mb-resp-t { display: none; }
}

#mb-resp-desktop {
    display: none;
}
#mb-resp-tablet-landscape {
    display: none;
}
#mb-resp-tablet-portrait {
    display: none;
}
#mb-resp-phone-landscape {
    display: none;
}
#mb-resp-phone-portrait {
    display: none;
}

@media (min-width: 1200px)
{
    #mb-resp-desktop { display: block; }
}

@media (min-width: 980px) and (max-width: 1199px)
{
    #mb-resp-tablet-landscape { display: block; }
}

@media (min-width: 768px) and (max-width: 979px)
{
    #mb-resp-tablet-portrait { display: block; }
}

@media (min-width: 480px) and (max-width: 767px)
{
    #mb-resp-phone-landscape { display: block; }
}

@media (max-width: 479px)
{
    #mb-resp-phone-portrait { display: block; }
}
.responsive .mb-header
{
    width: auto !important;
    max-width: none !important;
    min-height: 100px !important;
    min-width: 0 !important;
    text-align: center;
}

.default-responsive .mb-header
{
    height: auto;
}

.default-responsive .mb-header *
{
    position: relative;
    text-align: center;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}

.default-responsive .mb-header .mb-headline,
.default-responsive .mb-header .mb-slogan
{
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    margin: 2% !important;
    text-align: center !important;
}

.default-responsive .mb-header .mb-headline a,
.default-responsive .mb-header .mb-slogan
{
    white-space: normal !important;
}

.default-responsive .mb-header .mb-logo
{
    display: inline-block;
    margin: auto !important;
    left: auto;
    top: auto !important;
    width: auto;
    height: auto;
}

.responsive .mb-header .mb-slidenavigator
{
    position: absolute;
}

.default-responsive .mb-header .mb-positioncontrol
{
    display: block !important;
    position: relative !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    margin: 2% auto !important;
    width: auto !important;
    height: auto !important;
}

.responsive .mb-header #mb-flash-area
{
    display: none;
}

/* Search and other elements in header element directly */
.default-responsive .mb-header>.mb-textblock
{
    position: relative !important;
    display: block !important;
    margin: 1% auto !important;
    width: 75% !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
}

.default-responsive .mb-header .mb-textblock
{
    position: relative !important;
    display: block !important;
    margin: auto !important;
    left: 0 !important;
    right: 0 !important;
    top: auto !important;
    height: auto !important;
    width: auto;
    background-image: none;
}

/* '.mb-header *' used noram align, but for '.mb-textblock *' we must force align because of preview */
.responsive .mb-header .mb-textblock *
{
    text-align: center !important;
}

.default-responsive .mb-header .mb-shapes > .mb-textblock,
.default-responsive .mb-header .mb-slide-item > .mb-textblock
{
    display: none !important;
}

.default-responsive .mb-header .mb-shapes > .mb-textblock *
{
    text-align: center !important;
    width: auto !important;
    height: auto !important;
    display: block;
}

.default-responsive .mb-header .mb-slider .mb-textblock *
{
    text-align: center !important;
    width: auto !important;
    height: auto !important;
    display: block;
}

/* For icons like facebook, rss, etc. */
.responsive .mb-header>.mb-textblock>div
{
    width: 100%;
}
/* dynamic width nav */
.responsive nav.mb-nav,
.responsive .mb-nav-inner
{
    width: auto !important;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 0;
    text-align: left !important;
}

.responsive nav.mb-nav
{
    min-width: 1%;
}

.responsive .mb-nav
{
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}

/* full width hmenu, instead of inline-block */
.responsive .mb-nav ul.mb-hmenu
{
    float: none;
    text-align: center;
    display: none;
}

/* elements on different lines */
.responsive .mb-nav ul.mb-hmenu li,
.responsive .mb-hmenu-extra1,
.responsive .mb-hmenu-extra2
{
    float: none;
}

/* horizontal margins */
.responsive .mb-nav ul.mb-hmenu>li:first-child,
.responsive .mb-nav ul.mb-hmenu>li:last-child,
.responsive .mb-nav ul.mb-hmenu>li
{
    margin-left: 0;
    margin-right: 0;
}

/* separator */
.responsive .mb-nav ul.mb-hmenu>li:before
{
    display: none;
}

/* vertical distance between items */
.responsive .mb-nav ul.mb-hmenu a
{
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    height: auto;
    white-space: normal;
}

.responsive .mb-nav ul.mb-hmenu>li:first-child>a
{
    margin-top: 0 !important;
}

.responsive .mb-nav ul.mb-hmenu>li:last-child>a
{
    margin-bottom: 0 !important;
}

/* fixes for extended menu */
.responsive .mb-nav .ext,
.responsive .mb-nav ul.mb-hmenu>li>ul,
.responsive .mb-nav ul.mb-hmenu>li>ul>li,
.responsive .mb-nav ul.mb-hmenu>li>ul>li a
{
    width: auto !important;
}

/* submenu position on hover */
.responsive .mb-nav ul.mb-hmenu ul
{
    left: auto !important;
    right: auto !important;
    top: auto !important;
    bottom: auto !important;
    display: none !important;
    position: relative !important;
    visibility: visible !important;
}

.responsive .mb-nav ul.mb-hmenu li.active>ul
{
    display: block !important;
}
.responsive .mb-nav ul.mb-hmenu ul li.active>a
{
    font-weight: bold;
}

.mb-nav .mb-menu-btn
{
    border: 1px solid #404040;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    display: none;
    -svg-background: linear-gradient(to bottom, #707070 0, #000 100%);
    background: -ms-linear-gradient(top, #707070 0, #000 100%);
    background: -moz-linear-gradient(top, #707070 0, #000 100%);
    background: -o-linear-gradient(top, #707070 0, #000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #707070), color-stop(1, #000));
    background: -webkit-linear-gradient(top, #707070 0, #000 100%);
    background: linear-gradient(to bottom, #707070 0, #000 100%);
    margin: 3px;
    outline: none;
    padding: 5px;
    position: relative;
    vertical-align: bottom;
    width: 20px;
}

.mb-nav .mb-menu-btn span
{
    background: #E0E0E0;
    border-radius: 2px;
    display: block;
    height: 3px;
    margin: 3px 1px;
    position: relative;
    -moz-transition: background .2s;
    -o-transition: background .2s;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.mb-nav .mb-menu-btn:hover span
{
    background: #f3f3f3;
}

.responsive .mb-nav .mb-menu-btn
{
    display: inline-block;
}

.responsive .mb-nav .mb-hmenu.visible
{
    display: block;
}

.responsive .mb-nav ul.mb-hmenu>li>ul>li:first-child:after
{
    display: none;
}
.responsive .mb-nav ul.mb-hmenu ul a
{
    padding-left: 4% !important;
}
.responsive .mb-nav ul.mb-hmenu ul ul a
{
    padding-left: 6% !important;
}
.responsive .mb-nav ul.mb-hmenu ul ul ul a
{
    padding-left: 8% !important;
}
.responsive .mb-nav ul.mb-hmenu ul ul ul ul a
{
    padding-left: 10% !important;
}
.responsive .mb-nav ul.mb-hmenu ul ul ul ul ul a
{
    padding-left: 12% !important;
}

.responsive .mb-nav ul.mb-hmenu>li>ul
{
    padding: 5px;
}

.responsive .mb-nav ul.mb-hmenu>li>ul:before
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.responsive .mb-content-layout,
.responsive .mb-content-layout-row,
.responsive .mb-layout-cell
{
    display: block;
}

.responsive .mb-layout-cell
{
    width: auto !important;
    height: auto !important;
}

.responsive .mb-content-layout:after,
.responsive .mb-content-layout-row:after,
.responsive .mb-layout-cell:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.responsive .responsive-tablet-layout-cell,
.responsive.responsive-tablet .mb-footer .mb-content-layout .mb-layout-cell
{
    margin: 1%;
    width: 98% !important;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.responsive .responsive-layout-row-2 .responsive-tablet-layout-cell,
.responsive.responsive-tablet .mb-footer .mb-content-layout .responsive-layout-row-2 .mb-layout-cell
{
    width: 48% !important;
}

.responsive .responsive-layout-row-3 .responsive-tablet-layout-cell,
.responsive.responsive-tablet .mb-footer .mb-content-layout .responsive-layout-row-3 .mb-layout-cell
{
    width: 31% !important;
}
.responsive .mb-post
{
    border-radius: 0;
}

.responsive .mb-footer-inner
{
    width: auto;
    padding: 2% !important;
}

